#HTTP_PROXY=http://104.236.248.219:3128
DB_DSN=host=bot-db port=5432 user=bot sslmode=disable timezone='Europe/Kiev'
TG_TOKEN=566944285:AAHQ_GcpSKdGy_rrGrTnN9NtRcBcvBnP2KI
TG_CHAT_TIMEOUT=60
TG_UPDATES_OFFSET=0
#LOG LEVEL 2 mean debug level
LOG_LEVEL=2

TIMEZONE=Europe/Kiev
TIMELAYOUT=2006-01-02 15:04
MAIN_CHANNEL_USERNAME=@test15x4
INTERNAL_CHANNEL_USERNAME=@test15x4
INTERNAL_CHAT_ID=-389484898
GRAMMER_NAZI_CHAT_ID=-389484898
REMIND_HOUR_START=10
REMIND_HOUR_END=21